img{
    width: 400px;
    margin-left: 130px;

}

table td h5 {
     padding: 0px;
    font-size: 30px;
}

button{
    height: 40px;
    border-radius: 12px;
    width: 100px;
}

table td{
    padding: 0px 0px 7rem;
}